@model IEnumerable<HogwartsPotions.Models.Entities.Potion>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1></h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                BrewingStatus
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrewingStatus)
            </td>
            <td>
                <a asp-controller="Potion" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-controller="Potion" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-controller="Potion" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
