@using Microsoft.AspNetCore.Http
@using HogwartsPotions.Models.Enums
@{
    Layout = null;
    string message = Context.Session.GetString("message");
    Context.Session.Remove("message");
}
<!DOCTYPE html>
<html>
<head>
    <title>Login/Registration</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/form.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true" defer></script>
</head>
<body>
<div class="background-container" style="background-image: url(/images/greathall.jpg);">
<div>
    <div id="login-form">
        <form method="post" action="@Url.Action("ValidateLogin", "Student")">
            <fieldset class="form-style-1" style="background-image: url(/images/pergamen.jpg);">
                <label class="label-form" for="login-username">Username</label>
                <input type="text" name="login-username" id="login-username"class="form" size="20">
                <label class="label-form" for="login-password">Password</label>
                <input type="password" name="login-password" id="login-password" class="form" size="20">
                <br/><br/>
                <button type="submit" class="login-button button-55">Login</button>
            </fieldset>
        </form>
        <div style="text-align: center">
            <p class="login-switch" style="display: inline-block">First year in Hogwarts? Click <strong><a id="register">here</a></strong> to register now!</p></div>
    </div>
    <div id="register-form" hidden="hidden">
        <form method="post" action="@Url.Action("Register", "Student")">
            <fieldset class="form-style-1" style="background-image: url(/images/pergamen.jpg);">
                <label class="label-form" for="register-username">Username</label>
                <input type="text" name="register-username" id="register-username" class="form" size="20">
                <label class="label-form" for="register-password">Password</label>
                <input type="password" name="register-password" id="register-password" class="form" size="20">

                <label class="label-form" for="register-houseType">House</label>
                <select for="register-houseType" name="register-houseType" class="form" id="register-houseType">
                    @foreach (HouseType house in ViewBag.HouseTypes)
                    {
                        <option>@house</option>
                    }
                </select>
                <span validation-for="register-houseType" class="text-danger"></span>

                <label class="label-form" for="register-petType">Pet</label>
                <select for="register-petType" name="register-petType" class="form" id="register-petType">
                    @foreach (PetType pet in ViewBag.PetTypes)
                    {
                        <option>@pet</option>
                    }
                </select>
                <span validation-for="register-petType" class="text-danger"></span>
                <br/><br/>
                <button type="submit" class="login-button button-55">Register</button>
            </fieldset>
        </form>
        <div style="text-align: center">
            <p class="login-switch" style="display: inline-block">Welcome back to Hogwarts. Click <strong><a id="login">here</a></strong> to log in now!</p></div>
    </div>
</div>
    @if (message != null)
    {
        Console.WriteLine("ok");
        <div style="text-align: center">
            <h1 id="warning"><strong>@message</strong></h1></div>
    }
</div>
</body>
</html>